{% extends "base.html" %}
{% block content %}
<section class="min-h-screen flex flex-col justify-center items-center text-center px-6">
    <div class="bg-white/10 backdrop-blur-md p-10 rounded-3xl shadow-xl max-w-2xl animate-fadeIn">
        <h1 class="text-5xl font-bold mb-4 text-transparent bg-clip-text bg-gradient-to-r from-pink-400 to-purple-400">
            About Me</h1>
        <p class="text-xl mb-6">Это страница About твоего портфолио.</p>
        <a href="/"
           class="mt-6 inline-block bg-indigo-500 hover:bg-indigo-600 text-white font-semibold py-2 px-4 rounded transition-colors">На
            главную</a>
        <a href="/projects"
           class="mt-6 inline-block bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded transition-colors">
            Мои проекты
        </a>
    </div>
</section>
{% endblock %}