<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title if title else "Portfolio FastAPI" }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="/static/css/styles.css" rel="stylesheet">
  <script src="/static/js/main.js" defer></script>
</head>
<body class="bg-gradient-to-br from-gray-900 to-indigo-900 font-sans text-white">
  {% block content %}{% endblock %}
</body>
</html>

